<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/bootadmin.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/datatables.min.css}">

    <title>GeekMarket Admin</title>
</head>

<body class="bg-light">

<nav th:fragment="header" class="navbar navbar-expand navbar-dark bg-primary">
    <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" href="#">GeekMarket Admin</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li>
            <li class="nav-item dropdown">
                <a sec:authentication="name" href="#" id="dd_user" class="nav-link dropdown-toggle"
                   data-toggle="dropdown"><i class="fa fa-user"></i> Default User</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    <a href="#" class="dropdown-item">Profile</a>
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="dropdown-item" value="Logout"/>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>