.modal
{
    overflow: hidden;
}

.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}

.modeless{
    top:10%;
    left:50%;
    bottom:auto;
    right:auto;
    margin-left:-300px;
}

.message-list
{
    overflow-y: scroll;
    height: 250px;
}