<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header.html :: head"></head>

	<body>
		<!-- HEADER -->
		<header th:replace="fragments/header.html :: header"></header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav th:replace="fragments/header.html :: navigation"></nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Login page</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Login</li>
						</ul>
					</div>

					<div class="col-md-7">
						<!-- Login form -->
						<form class="login-form" th:action="@{/authenticateTheUser}" method="POST">
							<div class="form-group">
								<input class="input" type="text" name="username" placeholder="User name">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="password" placeholder="Password">
							</div>
							<div class="form-group">
								<input class="primary-btn order-submit" type="submit" name="submit">
							</div>

							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</form>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div th:replace="fragments/footer.html :: newsletter"></div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer th:replace="fragments/footer.html :: footer"></footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script th:replace="fragments/footer.html :: scripts"></script>

	</body>
</html>
