<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="admin/fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Products list</h2>

        <div class="card mb-4">

            <div class="card-body">
                <form class="form-group" th:action="@{/admin/product/create}">
                    <button type="submit" class="btn btn-primary">Create new</button>
                </form>

                <table id="products" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Categories</th>
                        <th>Price</th>
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod : ${products}">
                        <td th:text="${prod.id}"></td>
                        <td th:text="${prod.name}"></td>
                        <td th:text="${prod.categoriesAsString}"></td>
                        <td th:text="${prod.price}"></td>
                        <td>
                            <a th:href="@{product/{id}/edit(id=${prod.id})}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            <a th:href="@{product/{id}/delete(id=${prod.id})}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script th:replace="admin/fragments/footer :: scripts"></script>
<script th:src="@{/admin/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#products').DataTable();
    });
</script>

</body>
</html>