<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/fragments/header :: head"></head>

<body class="bg-light">

<th:block th:if="${error}">
    <div th:replace="admin/fragments/header :: alert"></div>
</th:block>

<div th:replace="admin/fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4" th:if="${edit}">Edit product</h2>
        <h2 class="mb-4" th:if="${create}">Create product</h2>

        <form th:object="${product}" method="post" th:action="@{/admin/product}" enctype="multipart/form-data">
            <div class="card mb-4">
                <div class="card-body">
                    <input th:type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="name">Product name</label>
                        <input th:field="*{name}" type="text" class="form-control" id="name"
                               placeholder="Enter product name" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input th:field="*{price}" type="text" class="form-control" id="price"
                               placeholder="Enter product price" required>
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <select class="form-control" id="brand" th:field="*{brand}" required>
                            <option th:each="brand : ${brands}"
                                    th:text="${brand.name}"
                                    th:value="${brand.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="roles">Categories</label>
                        <select multiple class="form-control" id="roles" th:field="*{categories}" required>
                            <option th:each="cat : ${categories}"
                                    th:text="${cat.name}"
                                    th:value="${cat.id}"
                                    th:selected="${product.categories?.contains(cat)}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="newPictures">Product image</label>
                        <input th:field="*{newPictures}" type="file" class="form-control" id="newPictures"
                               placeholder="Upload new product picture" multiple required>
                    </div>
                </div>

                <div class="card-footer bg-white">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

        <div class="container-fluid mb-4">
            <div class="card-columns" style="column-count: 5">
                <div class="card" th:each="pict : ${product.pictures}">
                    <div class="card-header">Picture</div>
                    <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${pict.id})}"
                         width="40%"/>
                </div>
            </div>
        </div>

    </div>
</div>

<script th:replace="admin/fragments/footer :: scripts"></script>

</body>
</html>